<section class="sidebar">
	<nav class="navigation">
		<li><a href="#">
			<span class="icon fa fa-user"></span>
			<span>Candidates</span>
		</a></li>
		<li><a href="#" class="active">
			<span class="icon fa fa-comment"></span>
			<span>Interviews</span>
		</a></li>
		<li><a href="#">
			<span class="icon fa fa-suitcase"></span>
			<span>Jobs</span>
		</a></li>
		<li><a href="#">
			<span class="icon fa fa-question-circle"></span>
			<span>Questions</span>
		</a></li>
	</nav>
</section>