$padding-base-vertical:          6px;
$padding-base-horizontal:        12px;

$padding-large-vertical:         14px;
$padding-large-horizontal:       28px;

$padding-small-vertical:         3px;
$padding-small-horizontal:       6px;


// COLORS
$color1: #7f8c8d;
$color2: #2c3e50;
$color3: #16a085;
$color4: #27ae60;