<div class="carousel">
	<ul>
		<li>
			<section class="highlight-container c1 image1">
				<div class="grid-container">
					<h2 class="title">Hire only the best people.</h2>
					<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
				</div>
			</section>
		</li>
		<li>
			<section class="highlight-container c1 image2">
				<div class="grid-container">
					<h2 class="title">Hiring done <em>right</em>.</h2>
					<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
				</div>
			</section>
		</li>
		<li>
			<section class="highlight-container c1 image3">
				<div class="grid-container">
					<h2 class="title">Hiring done <em>right</em>.</h2>
					<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
				</div>
			</section>
		</li>
		<li>
			<section class="highlight-container c1 image4">
				<div class="grid-container">
					<h2 class="title">Hiring done <em>right</em>.</h2>
					<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
				</div>
			</section>
		</li>
		<li>
			<section class="highlight-container c1 image5">
				<div class="grid-container">
					<h2 class="title">Hiring done <em>right</em>.</h2>
					<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
				</div>
			</section>
		</li>
	</ul>
</div>

<section class="bottom-border-container">
	<div class="grid-container">
		<p class="epsilon" style="margin-bottom: 0;"><strong>Want to try Hire Buddy?</strong> We're looking for cool companies to try it.</p>
		
	</div>
</section>