<section class="highlight-container c1">
	<div class="grid-container">
		<h2 class="title">Hire only the best people.</h2>
		<p class="subtitle">Find the best candidate for your company through a better interview process.</p>
		<br><br>
	</div>
</section>
<section class="bottom-border-container">
	<div class="grid-container">
		<p class="epsilon" style="margin-bottom: 0;"><strong>Want to try Hire Buddy?</strong> We're looking for cool companies to try it.</p>
		
	</div>
</section>