@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

body {
	font-family: 'Lato', "Arial", "Helvetica", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
}

.centered {
	text-align: center;
}

h1 {
	font-weight: 400;
}
p {
	font-weight: 300;
}

// tera giga mega alpha beta gamma delta epsilon zeta