// tera giga mega alpha beta gamma delta epsilon zeta
.highlight-container {
	background: $color1;
	padding-top: 30px;
	.title, .subtitle {
		text-align: center;
		color: white;
	}
	height: 450px;
	.title      { @extend .beta; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9) }
	.subtitle   { @extend .delta; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9) }
	&.c1 { background: $color1; }
	&.c2 { background: $color2; }
	&.c3 { background: $color3; }
	&.c4 { background: $color4; }


	&.image1 { background: 	url('/assets/office1-ts.jpg'); background-size: cover;}
	&.image2 { background: 	url('/assets/office2-ts.jpg'); background-size: cover;}
	&.image3 { background: 	url('/assets/office3-ts.jpg'); background-size: cover;}
	&.image4 { background: 	url('/assets/office4-ts.jpg'); background-size: cover;}
	&.image5 { background: 	url('/assets/office5-ts.jpg'); background-size: cover;}
	
}

.bottom-border-container {
	border-bottom: 1px solid #c5c5c5;
	padding: 25px;
	background: #f5f5f5;
}